body {
  font-family: 'Lato', sans-serif;
  background-color: #FFFFFF;
  color: #333;
  margin: 0;
}

/* ENCABEZADO */
.tituloGrande {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #ffffff;
  animation: aparecerTitulo 1.5s ease-in-out;
}

.slogan {
  color: #E67E22;
  font-size: 1rem;
  font-style: italic;
}

/* SUBTÍTULOS */
.subtitulo {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #0A2239;
  animation: aparecerTexto 1.2s ease-in;
}

/* TEXTO */
.texto1 {
  font-size: 1rem;
  animation: textoMov 1s ease-in-out;
}

/* PRODUCTOS */
.efectoCard {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  transition: transform 0.3s;
  animation: fadeInCard 1.5s ease;
}

.efectoCard:hover {
  transform: scale(1.05);
  border-color: #E67E22;
}

/* FORMULARIO */
input:focus, textarea:focus {
  border-color: #E67E22;
  box-shadow: 0 0 5px #E67E22;
  transition: 0.3s;
}

/* ANIMACIONES */
@keyframes aparecerTitulo {
  0% { opacity: 0; transform: translateY(-20px); }
  100% { opacity: 1; transform: translateY(0); }
}

@keyframes aparecerTexto {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes textoMov {
  from { transform: translateX(-10px); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeInCard {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

.efectoCard img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}
